
@model RestaurantManagementOrder.Models.WaiterTables.Index;
@{
    ViewData["Title"] = "Tables";
    var tableCount = RestaurantManagementOrder.Services.Constants.TableCount;
}

<style>
   .view-container {
        height: 80vh;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .background-container {
        height: 100%;
        width: fit-content;
        position: relative;
    }
    .background-container > img {
        height: 100%;
    }
    .table {
        position: absolute;
        width: 100px;
    }
</style>

<h1>Tables</h1>

@{/*@{ int table = 1; }
@while (true)
{
    <div class="row my-3">
        @for (int j = 0; j < 4; j++)
        {
            var order = Model.TableOrders[table - 1];
            <div class="col-3">
                <div class="card border-@(order != null ? "danger" : "success")">
                    <div class="card-header text-@(order != null ? "danger" : "success")">
                        <h4 class="card-title">
                            Table @table
                        </h4>
                    </div>
                    <div class="card-body">
                        @if (order != null)
                        {
                            @if (order.OrderItems.Any(oi => oi.Status == OrderItemStatus.ReadyToServe))
                            {
                                <h4 class="badge badge-success">Ready to Serve!</h4>
                            }
                            var lastTwo = order.OrderItems.TakeLast(2);
                            @foreach (var featuredItem in lastTwo)
                            {
                                <div>
                                    @(featuredItem.Quantity)x
                                    @featuredItem.MenuItem.Name
                                </div>
                            }
                            @if (order.OrderItems.Count >= 3)
                            {
                                <div>
                                    ...
                                </div>
                            }
                        }
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary stretched-link" asp-action="Table" asp-route-id="@table">
                            @(order != null ? "Edit order" : "Take new order")
                        </a>
                    </div>
                </div>
            </div>
            table++;
            if (table > tableCount)
                break;
        }
    </div>
    if (table > tableCount)
        break;
}*/}

@{
    var tablePositions = new List<(float, float)>() {
        (2f, 4.5f),
        (2f, 18.5f),
    };
}

<div class="view-container">
    <div class="background-container">
        <img src="https://www.cadpro.com/wp-content/uploads/2013/09/restaurant-3.jpg" />
        @foreach (var (tablePos, idx) in tablePositions.Select((t, idx) => (t, idx)))
        {
            var order = Model.TableOrders[idx];
            <div class="table card" style="top: @(tablePos.Item1)%; left:@(tablePos.Item2)%;">
                <div class="card-body @(order != null ? "bg-success" : "")">
                    Table @(idx + 1)
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        //$(document).ready(function () {
        //    setTimeout(function () {
        //        window.location = window.location;
        //    }, 2500);
        //});
    </script>
}
