@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Order;
@{
    ViewData["Title"] = $"Table {Model.TableNumber}";
}

<h1>Order for Table @Model.TableNumber</h1>

<a class="btn btn-primary mb-2" asp-action="AddOrderItem" asp-route-id="@Model.TableNumber">Add new Item</a>

<table class="table">
    <thead>
        <tr>
            <th>Item Name</th>
            <th>Status</th>
            <th>Category</th>
            <th>Price</th>
            <th>Is Reverted</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
@foreach (var orderItem in Model.OrderItems)
{
        <tr class="@(orderItem.IsReverted ? "table-danger" : "")">
            <td>
                @(orderItem.Quantity)x
                @orderItem.MenuItem.Name
            </td>
            <td>
                @Enum.GetName(typeof(OrderItemStatus), orderItem.Status)
            </td>
            <td>@orderItem.MenuItem.Category</td>
            <td>
                @(orderItem.MenuItem.Price * orderItem.Quantity / 100) lei
            </td>
            <td>@(orderItem.IsReverted ? "Yes" : "No")</td>
            <td>
                <form asp-action="ToggleRevert" method="post">
                    <input type="hidden" name="id" value="@orderItem.OrderId-@orderItem.MenuItemId" />
                    <input type="hidden" name="returnToTable" value="@Model.TableNumber" />
                    <button type="submit" class="btn btn-outline-danger btn-sm">
                        @(orderItem.IsReverted ? "Unrevert" : "Revert")
                    </button>
                </form>
            </td>
        </tr>
}
        <tr>
            <td colspan="2">Total</td>
            <td>@(Model.Total / 100.0) lei</td>
        </tr>
    </tbody>
</table>