@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Order;
@{
    ViewData["Title"] = $"Table {Model.TableNumber}";
}

<h1>Order for Table @Model.TableNumber</h1>

<a class="btn btn-primary">Add new Item</a>

<table class="table">
    <thead>
        <tr>
            <th>Item Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Is Reverted</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
@foreach (var orderItem in Model.OrderItems)
{
        <tr>
            <td>@orderItem.MenuItem.Name</td>
            <td>@orderItem.MenuItem.Category</td>
            <td>@(orderItem.MenuItem.Price * orderItem.Quantity / 100) lei</td>
            <td>@(orderItem.IsReverted ? "Yes" : "No")</td>
            <td>
                <a class="btn btn-outline-danger btm-sm" asp-action="Revert" asp-route-id="@orderItem.OrderId-@orderItem.MenuItemId">Revert</a>
            </td>
        </tr>
}
    </tbody>
</table>